@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
}

.apresentacao__conteudo__paragrafo{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 100;
}

.titulo-destaque{
    color: #22D4FD;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
    gap: 58px;
}

.apresentacao__conteudo{
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao__links__subtitulo{
    font-size: 24px;
    font-family: "Krona One", sans-serif;
    color: #F6F6F6;
    font-weight: 400;
}

.apresentacao__links_link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 1.8px solid #22D4FD;
    width: 376px;
    color: #F6F6F6;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    padding: 21.5px 0;
    text-decoration: none;
}

.apresentacao__links_link:hover{
    background-color: #1B454F;
}

.rodape {
    background-color: #22D4FD;
    text-align: center;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 6px;
}