@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__paragrafo{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

.titulo-destaque{
    color: #22D4FD;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 18%;
    gap: 58px;
}

.apresentacao__conteudo{
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
}

.apresentacao__links_link{
    background-color: #22D4FD;
    width: 280px;
    color: #000000;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    padding: 21.5px 0;
    text-decoration: none;
}