* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
    color: #F6F6F6;
}

.titulo-destaque{
    color: #22D4FD;
}


a{
    background-color: #22D4FD;
    color: #000000;
    border: 1px solid #22D4FD;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}