@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-primaria: #191919;
    --cor-secundaria: #EEF5FF;
    --cor-tercearia: #40A2D8;
    --cor-hover-botao: #0B60B0;
    --cor-link: #F07B3F;
    --fonte-primaria: "Montserrat", sans-serif;
    --fonte-secundaria: "Krona One", sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
    margin: 2% 15%;
}

.cabecalho__menu__link{
    color: var(--cor-tercearia);
    font-family: var(--fonte-primaria);
    font-style: normal;
    font-weight: 600;
    size: 24px;
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    color: var(--cor-link);
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 15% 11.3%;
    gap: 58px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

.apresentacao__conteudo__paragrafo{
    font-size: 1.25rem;
    font-family: var(--fonte-primaria);
    font-style: normal;
    font-weight: 100;
}

.titulo-destaque{
    color: var(--cor-tercearia);
}


.apresentacao__conteudo{
    margin: -5% 0% 0%;
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao__links__subtitulo{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    font-weight: 400;
}

.apresentacao__links_link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 1.8px solid var(--cor-secundaria);
    width: 376px;
    color: var(--cor-secundaria);
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--fonte-primaria);
    padding: 21.5px 0;
    text-decoration: none;
}

.apresentacao__links_link:hover{
    background-color: var(--cor-hover-botao);
    color: var(--cor-link);
}

.rodape {
    background-color: var(--cor-tercearia);
    text-align: center;
    color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.125rem;
    padding: 6px;
}

.imagem__perfil{
    border-radius: 20%;
}