@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
    margin: 2% 15%;
}

.cabecalho__menu__link{
    color: #22D4FD;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    size: 24px;
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    color: orange;
}

.curriculo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 15% 11.3%;
    gap: 2px;
}

.curriculo__conteudo {
    margin: -5% 0% 0%;
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.curriculo__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    color: #F6F6F6;
}

.curriculo__conteudo__paragrafo{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 100;
}

.rodape {
    background-color: #22D4FD;
    text-align: center;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 6px;
}

.imagem__perfil{
    border-radius: 20%;
}